*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --transition: all 0.2s ease-in-out;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  font-family: 'IBM Plex mono';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.page {
  width: 100%;
  padding: 20px;
}

.title-decor {
  color: var(--title-color);
  background-color: var(--background-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
}

.card-text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.section__title {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.superconcentration__card-title {
  color: var(--title-color);
  background-color: var(--background-color);
  font-weight: 400;
  line-height: 23.4px;
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-view-transition::view-transition-old(root) {
  animation: none;
}

.no-view-transition::view-transition-new(root) {
  animation: none;
}

.reverse::view-transition-old(root) {
  background: none;
  z-index: 2;
}